#projets {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .content-box {
        margin-bottom: 2rem;
        img{
            border-radius: 10px;
            max-width:100%
        }
    }

    .video-container {
        max-width: 100%;
        margin: 0 auto;
        display: block;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        background-color: var(--background-color);
        overflow: hidden;

        p{text-align: center}
    }

    video {
        width: 100%;
        height: auto;
        border-radius: 10px;
        &:focus {outline: none}
    }

}