:root{
    --contact-bg-color: var(--background-color);
    --link-color: dodgerblue;
    --button-bg-color: var(--secondary-color);
    --button-hover-color: var(--link-color);
}


#contact {
    padding: 50px;
    margin: 50px 20px;
    text-align: center;

    p{text-align: center}


    h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
    }

    #email-link {
        display: inline-block;
        font-size: 1.2em;
        color: var(--link-color);
        text-decoration: none;
        margin-bottom: 30px;

        &:hover {
            text-decoration: underline;
        }
    }
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    #input-div{
        width: 100%;
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 20px;

        & > div {
            width: 50%;

            & > div {
                display: flex;
                gap: 25px;
            }
        }
    }

    label {
        text-align: left;
        font-weight: bold;
    }

    input, textarea {
        padding: 10px;
        font-size: 1em;
        border-radius: 5px;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }

    textarea {min-height: 150px;}

    button {
        width: 200px;
        padding: 10px 20px;
        font-size: 1.2em;
        background-color: var(--button-bg-color);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {background-color: var(--button-hover-color);}
    }
}

.textfield {
    position: relative;
    margin-top: 2em;
    width: 100%;

    label {
        position: absolute;
        top: 50%;
        left: 5px;
        pointer-events: none;
        transition: all .2s ease-in-out;
        transform: translateY(-50%);
        padding: 0 5px;
        color: var(--main-text-color);
    }

    input, textarea {
        min-width: 100%;

        border: none;
        border-bottom: 2px solid #58585b;
        outline: none;
        background-color: #342f38;
        border-radius: 20px;
    }

    input, label {
        font-size: 1.2em;
    }

    input:focus, textarea:focus,
    input:not(:placeholder-shown), textarea:not(:placeholder-shown) {
        border-color: dodgerblue;
        background-color: whitesmoke;
        color: black;

        /* Quand le champ est actif ou contient du texte */

        & + label {
            top: -10px;
            left: 0;
            font-size: 1em;
            color: darkgrey;
        }
    }
}