:root {
    --main-text-color: #F4E5C2;
    --secondary-text-color: #c2b7a6;
    --primary-color: #0B8457;
    --secondary-color: #096C47;
    --background-color: #28242c;
    --foreground-color: var(--secondary-color);
}

/************ Fonts ************/

/************** Règles générales *****************/

* {
    color: var(--main-text-color);
    transition: .3s,
    stroke .1s linear, fill 0s linear,
    width 0s, height 0s;
    box-sizing: border-box;
}

html {scroll-behavior: smooth;}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    &:hover {color: cornflowerblue;}
}

h1, h2 {
    font-family: 'Outfit', sans-serif;
}

/***************** Header ************/
header {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

    .header-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(50px);
        background-color: rgba(0, 0, 0, 0.4); /* Couche opaque semi-transparente */
        /*mask-image: linear-gradient(to bottom, black 0%, transparent 90%);*/
        border-bottom: 1px solid var(--main-text-color);
        z-index: -1;
    }


    #me {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            height: 80px;
            border-radius: 100%;
        }
    }



    nav {
        position: relative;
        z-index: 1;
        padding: 0 20px;
        margin: 1em;

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            gap: 100px;

            li a {
                font-size: 1.2em;
                color: var(--main-text-color);
                text-decoration: none;
                font-weight: bold;
                /*background-color: rgba(0, 0, 0, 0.2); !* Légère opacité *!*/
                padding: 10px 20px;
                border-radius: 5px;
                transition: background-color 0.3s ease;
            }
        }
    }
}


/* Classe pour cacher le header */
.header-hidden {
    transform: translateY(-100%);
}

#toggle-header {
    display: none;
    position: fixed;
    top: 10px;
    right: 0;
    transform: translateX(-30%);
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--background-color);
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#toggle-header.hidden {
    transform: translateX(100%);
}

header.header-hidden + #toggle-header {
    display: flex;
}


/****************************/

main {
    padding: 120px 50px 20px; /* 120px pour le décalage avec le header. */
    flex: 1;
}

hr{
    border: none;
    height: 2px;
    background-color: var(--main-text-color);
    border-radius: 5px;
    width: 80%;
}

section {
    h1{
        font-size: 2em;
        text-align: center;
        font-family: arial, sans-serif;
    }

    p {
        text-align: justify;
        color: var(--secondary-text-color);
    }
}

.content-box {
    width: 50%;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--foreground-color);
    h4, p {
        margin: 0;
    }

    p{
        padding: 0 1rem;
    }
}


footer {
    display: block;
    text-align: center;
}

.floating-animation {
    animation: floating-animation 5s linear infinite both;
}

.separator {
    border: 3px black solid;
    border-radius: 5px;
    height: 30vw;
    margin: 0 20px;
}

@keyframes floating-animation {
    0% {transform: translate(0);}
    20% {transform: translate(2px, -2px);}
    40% {transform: translate(2px, 2px);}
    60% {transform: translate(-2px, 2px);}
    80% {transform: translate(-2px, -2px);}
    100% {transform: translate(0);}
}

#stars-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/* Classes pour GSAP */
.appear-left, .appear-right, .appear-below{
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.appear-left {
    transform: translateX(-100px);
}

.appear-right {
    transform: translateX(100px);
}

.appear-below {
    transform: translateY(100px);
}


@media (max-width: 768px) {
    main{
        padding: 120px 15px 20px;
    }

    .video-container {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    .floating-animation {
        animation: none;
    }

    main{padding-top: 350px}

    #toggle-header {
        display: flex;
    }

    header{
        flex-direction: column;

        nav{
            width: 100%;
            margin: 0;
        }

        ul{
            flex-direction: column;
            gap: 0 !important;
            text-align: center;

            a{
                padding: 10px 0 !important;
                display: block;
                font-size: 1.5em !important;
            }
        }

        h1{
            font-size: 1.5em;
        }
    }
}

