:root {
    --main-text-color: #F4E5C2;
    --secondary-text-color: #d2c6b4;
    --primary-color: #0B8457;
    --secondary-color: #096C47;
    --background-color: #28242c;
    /*--foreground-color: var(--secondary-color);*/
    /*--primary-color: #00bcd4;         !* Cyan - Ajuste selon tes goûts *!*/
    --primary-color-light: #10ad74 /*#80deea*/;  /* Cyan plus clair */
    --accent-color: #ffc107;          /* Ambre - Pour les accents */
    --accent-color-light: #ffe082;   /* Ambre plus clair */

    --text-color: #f5f5f5;            /* Couleur de texte principale (claire pour fond sombre) */
    --text-color-light: #bdbdbd;      /* Texte un peu moins important */
    --text-color-dark: #212121;       /* Texte pour fond clair (si tu en as) */

    /*--background-color: #212121;      !* Fond principal (sombre) *!*/
    --background-content-box: rgba(255, 255, 255, 0.07); /* Fond des content-box */
    --background-header-footer: #333333; /* Fond du header/footer */

    --border-color: rgba(255, 255, 255, 0.1); /* Couleur des bordures discrètes */

    --font-family-main: 'Outfit', sans-serif;
}

/************ Fonts ************/

/************** Règles générales *****************/
* {
    color: var(--main-text-color);
    transition: .3s,
    stroke .1s linear, fill 0s linear,
    width 0s, height 0s;
    box-sizing: border-box;
}

html {scroll-behavior: smooth;}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    &:hover {color: cornflowerblue;}
}

h1, h2 {
    font-family: 'Outfit', sans-serif;
}

/***************** Header ************/
header {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0, 0.4); /* Couche opaque semi-transparente */
    border-bottom: 1px solid var(--main-text-color);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

    #me {
        display: flex;
        align-items: center;
        gap: 20px;
        h1{margin: 0;}

        img {
            height: 80px;
            border-radius: 100%;
        }
    }

    nav {
        position: relative;
        z-index: 1;
        padding: 0 20px;
        margin: 1em;

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            gap: 50px;

            li a {
                font-size: 1.2em;
                color: var(--main-text-color);
                text-decoration: none;
                font-weight: bold;
                /*background-color: rgba(0, 0, 0, 0.2); !* Légère opacité *!*/
                padding: 10px 20px;
                border-radius: 5px;
                transition: background-color 0.3s ease;
            }
        }
    }
}

/* Classe pour cacher le header */
.header-hidden {
    transform: translateY(-100%);
}

#toggle-burger {
    display: none;
    position: fixed;
    top: 10px;
    right: 0;
    transform: translateX(-30%);
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--background-color);
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#toggle-burger.hidden {
    transform: translateX(100%);
}

header.header-hidden + #toggle-burger {
    display: flex;
}

/****************************/
main {
    padding: 120px 50px 20px; /* 120px pour le décalage avec le header. */
    flex: 1;
}

hr{
    border: none;
    height: 2px;
    background-color: var(--main-text-color);
    border-radius: 5px;
    width: 80%;
}

section {
    h1{
        font-size: 2em;
        text-align: center;
        font-family: arial, sans-serif;
    }

    p {
        text-align: justify;
        color: var(--secondary-text-color);
    }
}

.content-box {
    width: 50%;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--foreground-color);
    h4, p {
        margin: 0;
    }

    p{
        padding: 0 1rem;
    }
}

footer {
    display: block;
    text-align: center;
}

.floating-animation {
    animation: floating-animation 5s linear infinite both;
}

.separator {
    border: 3px black solid;
    border-radius: 5px;
    height: 30vw;
    margin: 0 20px;
}

@keyframes floating-animation {
    0% {transform: translate(0);}
    20% {transform: translate(2px, -2px);}
    40% {transform: translate(2px, 2px);}
    60% {transform: translate(-2px, 2px);}
    80% {transform: translate(-2px, -2px);}
    100% {transform: translate(0);}
}

#stars-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}



@media screen and (max-width: 1024px) {
    .floating-animation {
        animation: none;
    }

    main{padding: 425px 20px 20px}

    #toggle-burger {
        display: flex;
    }

    header{
        flex-direction: column;

        nav{
            width: 100%;
            margin: 0;
        }

        ul{
            flex-direction: column;
            gap: 0 !important;
            text-align: center;

            a{
                padding: 10px 0 !important;
                display: block;
                font-size: 1.5em !important;
            }
        }

        h1{
            font-size: 1.5em;
        }
    }
}

@media (max-width: 768px) {
    .video-container {
        width: 100%;
        margin: 0;
    }
}