:root {
    --main-text-color: #F4E5C2;
    --secondary-text-color: #c2b7a6;
    --primary-color: #0B8457;
    --secondary-color: #096C47;
    --background-color: #28242c;
}

/************ Fonts ************/

@font-face {
    font-family: 'Nomad';
    font-style: normal;
    font-weight: normal;
    src: local('Nomad'), url('../fonts/Nomad.woff') format('woff');
}

@font-face {
    font-family: 'Beckan';
    font-style: normal;
    font-weight: normal;
    src: local('Beckan'), url('../fonts/Beckan.otf') format('woff');
}

@font-face {
    font-family: 'Bropella';
    font-style: normal;
    font-weight: normal;
    src: local('Bropella'), url('../fonts/Bropella.otf') format('woff');
}

/************** Règles générales *****************/

* {
    color: var(--main-text-color);
    transition: .3s,
                stroke .1s linear, fill 0s linear;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    &:hover {
        color: cornflowerblue;

    }
}

h1, h2 {
    font-family: 'Outfit', sans-serif;
}

/***************** Header ************/
header {
    background-color: var(--secondary-color);
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 3px solid var(--main-text-color);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top: none;
    margin: auto;

    nav {
        border-bottom: 2px solid var(--main-text-color);
        padding: 0 20px;
        margin: 2em;

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            gap: 100px;

            li a {
                /*color: #fff;*/
                font-size: 1.2em;
            }
        }
    }

    #titre {
        /*font-family: 'Bropella', sans-serif;*/
        font-size: 3em;
        margin: 0;
    }
}

main {
    padding: 20px 50px;
    flex: 1;
}

hr{
    border: none;
    height: 2px;
    background-color: var(--main-text-color);
    border-radius: 5px;
    width: 80%;
}

section {
    h1{
        font-size: 2em;
        text-align: center;
        font-family: arial, sans-serif;
    }

    p {
        text-align: justify;
        color: var(--secondary-text-color);
    }
}

footer {
    display: block;
    text-align: center;
}

.floating-animation {
    animation: floating-animation 5s linear infinite both;
}

@keyframes floating-animation {
    0% {transform: translate(0);}
    20% {transform: translate(2px, -2px);}
    40% {transform: translate(2px, 2px);}
    60% {transform: translate(-2px, 2px);}
    80% {transform: translate(-2px, -2px);}
    100% {transform: translate(0);}
}




#stars-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}